altgraph==0.10.2
aniso8601==1.2.1
bdist-mpkg==0.5.0
click==6.7
Flask==0.12.1
Flask-RESTful==0.3.6
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.9.6
macholib==1.5.1
python-dateutil==1.5
virtualenv==15.1.0
Werkzeug==0.12.21
