{% extends "base.html" %}
{% block content %}
<div class="container-fluid">

    <div class="thumbnail-container">
        <div class="col-lg-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail First" src="../static/img/wanella_01.gif" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Second" src="../static/img/wanella_02.gif" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Third" src="../static/img/wanella_03.gif" />
          </div>
        </div>
    </div>

      <div class="thumbnail-container">
        <div class="col-lg-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail First" src="../static/img/wanella_04.gif" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Second" src="../static/img/wanella_05.gif" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="thumbnail">
            <img alt="Bootstrap Thumbnail Third" src="../static/img/wanella_06.gif" />
          </div>
        </div>
      </div>
  </div>

</div>
{% endblock %}