{% extends "base.html" %}
{% block content %}
<div class="container-fluid" ng-app="heatDeathApp">
  <div class="thumbnail-container">
    <div class ="row">
      <div class="col-sm-1 margin"></div>
      <a href="/red-sun">
        <div class="col-sm-2 story-thumbnail red-sun"></div>
      </a>
      <div class="col-sm-1 margin"></div>
      <div class="col-sm-2 story-thumbnail signal-lost"></div>
      <div class="col-sm-1 margin"></div>
      <div class="col-sm-2 story-thumbnail signal-lost"></div>
      <div class="col-sm-1 margin"></div>
      <div class="col-sm-2 story-thumbnail signal-lost"></div>
    </div>
  </div>
</div>
{% endblock %}

